/*TODO: 
Style the freaking page*/
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Roboto", sans-serif;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.icon-button {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 10px;
    height: 48px;
    transition: background-color 0.3s ease;
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.158)
}
canvas {
    background-color: #DBDBDB;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.05) 5px, transparent 5px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 5px, transparent 5px);
    background-size: 150px 150px;
}
#top-bar-layer {
    display: flex;
    align-items: center;
    background-color: #ECECEC;
    box-shadow: 0px 4px 20px 0px rgb(0, 0, 0, 25%);
}
.select-wrap {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}
#top-bar-right {
    display: flex;
    margin: auto;
    margin-left: 0;
}
#top-bar-left {
    display: flex;
    margin: auto;
    margin-right: 0;
}