/*TODO: 
Style the freaking page*/
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Roboto", sans-serif;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.icon-button {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 12px;
    height: 48px;
    transition: background-color 0.1s ease;
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.158)
}
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
    background-color: #DBDBDB;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.05) 5px, transparent 5px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 5px, transparent 5px);
    background-size: 150px 150px;
}
#top-bar-layer {
    display: flex;
    align-items: center;
    background: #ECECEC;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
.select-wrap {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}
#top-bar-right {
    display: flex;
    margin: auto;
    margin-left: 0;
}
#top-bar-left {
    display: flex;
    margin: auto;
    margin-right: 0;
}



.select-wrapper {
    margin: 10px 0px;
    position: relative;
}
.select-wrapper select {
    display: none;
}
.select-selected {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #000000;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    background-image: url("assets/Up Icon.svg");
  }
  .select-items div,.select-selected {
    color: #000000;
    cursor: pointer;
  }
  .select-items {
    position: absolute;
    background-color: #ffffff;
    border: 2px solid #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }



#left-panel-layer{
    display: flex;
    flex-shrink: 0;
    height: 100%;
    width: 260px;
}
#code-editor-layer{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    background: #454D58;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    position: fixed;
    right: 0;
    left: auto;
    flex-shrink: 0;
    height: 100%;
    width: 500px;
    flex-direction: column;
    min-height: 0;
}